@import '~styles/index';

.container {
  position: absolute;
  left: $pane-left-buffer;
  top: $pane-top-buffer;
  width: calc(100% - #{$pane-left-buffer * 2});
  height: calc(100% - #{$pane-top-buffer + $pane-left-buffer});
  background-color: $color-grey-020;
  border-radius: 2px;
  color: $color-primary;
  overflow-y: scroll;
  opacity: 0;
  transform-origin: top;
  transform: translateY(20px);
  transition: transform $pane-animation, opacity $pane-animation;
  -webkit-overflow-scrolling: touch;
}

.containerActive {
  transform: translateY(0px);
  opacity: 1;
}

.contentContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}
