@import '~styles/index';

$width: 40px;
$height: 2px;
$margin: 8px;
$translate: $height + $margin;
$rotate: 45deg;

.hamburger {
  cursor: pointer;
}

.line {
  width: $width;
  height: $height;
  border-radius: 5px;
  background-color: $color-grey-010;
  display: block;
  margin: $margin auto;
  opacity: 0;
  transition: opacity $icon-animation, transform $icon-animation;
}

.lineLight {
  background-color: $color-grey-080;
}

.lineOneActive {
  transform: translateY($translate) rotate($rotate);
  opacity: 1;
}

.lineTwoActive {
  opacity: 0;
}

.lineThreeActive {
  transform: translateY(-$translate) rotate(-$rotate);
  opacity: 1;
}
