@import '~styles/index';

.bar {
  display: block;
  position: absolute;
  top: 14px;
  height: 2px;
  width: 30px;
  background-color: $color-grey-010;
  border-radius: 10px;
  transition: transform $icon-animation;
}
.barLight {
  background-color: $color-grey-080;
}

.barLeft {
  transform: rotate(-45deg);
  left: 0;
}

.barRight {
  transform: rotate(45deg);
  left: 20px;
}

.barLeftActive {
  transform: rotate(45deg);
}

.barRightActive {
  transform: rotate(-45deg);
}
