@import '~styles/index';

$button-size: 36px;
$icon-size: 24px;

.themeButton {
  background-color: $color-primary;
  width: $button-size;
  height: $button-size;
  border-radius: 50%;
  border: 2px solid $color-grey-100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.themeButtonDark {
  border-color: $color-grey-000;
}

.themeIcon {
  width: $icon-size;
  height: $icon-size;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset ($icon-size * -1) (-$icon-size / 4) 0px 1px $color-grey-000;
  position: relative;
  transition: 0.1s box-shadow ease;
}

.themeIconDark {
  box-shadow: inset (-$icon-size / 4) (-$icon-size / 8) 0px 1px $color-grey-000;
}
