@import '~styles/index';

.container {
  position: absolute;
  right: $pane-left-buffer;
  top: $pane-top-buffer;
  width: calc(100% - #{$pane-left-buffer * 2});
  max-height: calc(100% - #{$pane-top-buffer + $pane-left-buffer});
  max-width: 560px;
  background-color: $color-grey-020;
  border-radius: 2px;
  color: $color-primary;
  overflow-y: scroll;
  opacity: 0;
  transform-origin: top;
  transform: translateY(-10px);
  transition: transform $pane-animation, opacity $pane-animation;
}

.containerActive {
  transform: translateY(0px);
  opacity: 1;
}

.contentContainer {
  padding: 10px 20px 20px 20px;
}

.header {
  margin-bottom: 15px;
}

.headerTitle {
  margin: 0 0 -4px 0;
  text-align: left;
  margin-right: 10px;
}

.headerSubTitle {
  font-size: 0.95em;
}

.aboutText {
  margin: 8px 0;
}
