@import '~styles/index';

.buttonContainer {
  position: absolute;
  bottom: 0;
  padding: 0 0 5px 8px;
}

.button {
  color: $color-grey-020;
}

.shuffleButton {
  position: absolute;
  bottom: 0;
  left: $icon-buffer;
  color: $color-grey-020;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.themeButton {
  position: absolute;
  bottom: $icon-buffer;
  left: 50%;
}

.aboutButton {
  position: absolute;
  bottom: $icon-buffer + 3;
  right: $icon-buffer;
  cursor: pointer;
  width: 50px;
  height: 30px;
}

.about {
  position: absolute;
  right: $pane-left-buffer;
  bottom: $pane-top-buffer;
  border-radius: 2px;
  width: calc(100% - #{$pane-left-buffer * 2});
  max-height: calc(100% - #{$pane-top-buffer + $pane-left-buffer});
  max-width: 360px;
  overflow-y: scroll;
  background-color: $color-grey-020;
  opacity: 0;
  transform: translateY(10px);
  color: $color-primary;
  transition: transform $pane-animation, opacity $pane-animation;
}

.aboutActive {
  opacity: 1;
  transform: translateY(0px);
}

.aboutContent {
  padding: 10px 20px;
}

.canvas {
  opacity: 0;
  transition: 0.25s opacity ease;
}

.canvasActive {
  opacity: 1;
}